body {
    background-color: #FFFBF7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya';
}

.main > p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: white;
    background-color: #025157;
    border-radius: 15pt;
}

li {
    display: inline;
    margin: 0 25px 0;
}

.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 5px 20px 30px 20px;
    font-size: 0;
    font-family: sans-serif;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFBF7;
    align-items: stretch;
}

.centrar{
    width: 85%;
}
.logo{
    width: 10%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.menu >* {
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border-style: none;
    border-radius: 5px;
}

.main {
    margin-top: 215px;
    text-align: center;
}
.publish{
    margin-left: 30px;
}
.subtitulo{
    color: #025157;
    font-size: 40px;
    font-family: 'Alegreya';
}
p{
    color: #343434;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nota {
    font-size: smaller;
    color: #A2A3A6;
}
input{
    color: rgb(175, 175, 153);
    border-radius: 5pt;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video>img{
    margin-top: 2%;
    width: 15%;
}
.promo{
    display: flex;
    width: 90%;
    margin: 100px auto;
    align-items: center;
}

.growing{
    display: flex;
    background-color: #A1D683;
    flex-direction: row;
    align-items: space-between;
    width: 90%;
    padding: 3%;
    justify-content: space-between;
}
.growing > *{
    width: 48%;
    /*Darle más tamaño al texto
}
.text{
    background-color: aqua;*/
}
.text > p,h2{
    margin: 3%;
}
.text,.carrusel > button{
    width: 35%;
    height:8%;
    margin:1% 5%;
}
.text > img{
    width: 80%;
    margin: 5%;
}
.carrusel{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}
.carrusel *{
    margin-left: 3%;
}
.carrusel >img{
    width: 95%
}