body {
    background-color: #FFFBF7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya';
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: white;
    background-color: #025157;
    border-radius: 15pt;
}

li {
    display: inline;
    margin: 0 25px 0;
}

.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 30px 20px;
    font-size: 0;
    font-family: sans-serif;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFBF7;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.menu >* {
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border-style: none;
    border-radius: 5px;
}

.main {
    margin-top: 215px;
    text-align: center;
}
.publish{
    margin-left: 30px;
}
.publish h2{
    color: #025157;
    font-size: 40px;
    font-family: 'Alegreya';
}
.publish > p{
    color: #343434;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.publish > form p {
    font-size: smaller;
}
input{
    color: rgb(175, 175, 153);
    border-radius: 5pt;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video>img{
    margin-top: 2%;
    width: 15%;
}
.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}